<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head lang="ru">
    <meta charset="UTF-8"/>
    <title>Общие вопросы</title>
    <link href="../static/common.css" th:attr="href=@{common.css}" rel="stylesheet" type="text/css"/>
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png"/>
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png"/>
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png"/>
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png"/>
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png"/>
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png"/>
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="/favicon-194x194.png" sizes="194x194"/>
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96"/>
    <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192"/>
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16"/>
    <link rel="manifest" href="/manifest.json"/>
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5"/>
    <meta name="apple-mobile-web-app-title" content="Zimy Tech"/>
    <meta name="application-name" content="Zimy Tech"/>
    <meta name="msapplication-TileColor" content="#ffdb6c"/>
    <meta name="msapplication-TileImage" content="/mstile-144x144.png"/>
    <meta name="theme-color" content="#ffdf00"/>
</head>
<body>
<form class="login" method="post" action="#" th:action="@{/}" th:object="${responder}" accept-charset="UTF-8"
      enctype="application/x-www-form-urlencoded">
    <label for="identifier">Представьтесь, пожалуйста:</label>
    <input type="text" id="identifier" name="identifier" required="required"/>
    <label for="age">Ваш возраст:</label>
    <input type="number" id="age" name="age" required="required"/>
    <p>Ваш пол:</p>
    <ul>
        <li><input type="radio" value="Male" name="gender" id="gender-male" required="required"/><label
                for="gender-male">мужской</label>
        </li>
        <li><input type="radio" value="Female" name="gender" id="gender-female" required="required"/><label
                for="gender-female">женский</label></li>
    </ul>
    <p>Относите ли вы себя к субкультуре "косплей"?</p>
    <ul>
        <li><input type="radio" value="Cosplay" name="domain" id="domain-cosplay" required="required"/><label
                for="domain-cosplay">Да.</label></li>
        <li><input type="radio" value="Nothing" name="domain" id="domain-nothing" required="required"/><label
                for="domain-nothing">Нет</label></li>
    </ul>
    <p>Что больше интересует?</p>
    <ul>
        <li><input type="radio" value="Both" name="interest" id="interest-both"/><label
                for="interest-both">Всё!!!!!!!11111!</label></li>
        <li><input type="radio" value="Anime" name="interest" id="interest-anime"/><label
                for="interest-anime">Аниме.</label></li>
        <li><input type="radio" value="Marvell" name="interest" id="interest-marvell"/><label
                for="interest-marvell">Marvell, DC.</label></li>
        <li><input type="radio" value="Nothing" name="interest" id="interest-nothing"/><label
                for="interest-nothing">Ни то, ни другое.</label></li>
    </ul>
    <input type="submit" value="Продолжить"/>
</form>
</body>
</html>