<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Основные вопросы</title>
    <link rel="stylesheet" th:attr="href=@{common.css}" href="../public/common.css" type="text/css"/>
</head>
<body>
<form th:action="@{/}" class="mainblock" action="#" method="post">
    <p>Ниже приведены описания разных людей. Пожалуйста, прочитайте каждое описание и подумайте, насколько

        этот человек похож или не похож на Вас. Поставьте крестик в одной из клеточек справа, которая показывает,
        насколько

        этот человек похож на Вас.</p>
    <table class="table table-bordered">
        <thead>
        <tr class="center middle">
            <th>#</th>
            <th>Вопрос</th>
            <th>Совсем не похож на меня</th>
            <th>Не похож на меня</th>
            <th>Мало похож на меня</th>
            <th>Умеренно похож на меня</th>
            <th>Похож на меня</th>
            <th>Очень похож на меня</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="question,rowStat : ${questions}">
            <td class="center middle" th:text="${rowStat.count}">1</td>
            <td class="center middle" th:text="${question.question}">В чём состоит главный вопрос жизни, Вселенной и
                всего такого?
            </td>
            <td class="center middle">
                <label>
                    <input type="radio" name="stub" th:attr="name=${question.id}" required="required"
                           value="VeryUnlikely"/>
                </label>
            </td>
            <td class="center middle">
                <label>
                    <input type="radio" name="stub" th:attr="name=${question.id}" required="required" value="Unlikely"/>
                </label>
            </td>
            <td class="center middle">
                <label>
                    <input type="radio" name="stub" th:attr="name=${question.id}" required="required"
                           value="SlightlyUnlikely"/>
                </label>
            </td>
            <td class="center middle">
                <label>
                    <input type="radio" name="stub" th:attr="name=${question.id}" required="required"
                           value="SlightlyLikely"/>
                </label>
            </td>
            <td class="center middle">
                <label>
                    <input type="radio" name="stub" th:attr="name=${question.id}" required="required" value="Likely"/>
                </label>
            </td>
            <td class="center middle">
                <label>
                    <input type="radio" name="stub" th:attr="name=${question.id}" required="required"
                           value="VeryLikely"/>
                </label>
            </td>
        </tr>
        </tbody>
    </table>
    <input type="submit" value="Закончить"/>
</form>
</body>
</html>